body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container {
  padding: 10px;
}

.error {
  background: maroon;
  color: white;
}

.success {
  background: chartreuse;
  color: black;
}